.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh ;
  background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/adrianhajdin/advice_app/master/src/images/city.jpg);
  background-size: cover;
  background-position: center;
}

.advice{
  text-align: center;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  background-color: rgb(236, 234, 234);
  width: 50%;
  height: 25%;
  border-radius: 15px ; 
  padding: 20px ;
} 
button
{
  margin-top: 7px;
  width: fit-content;
  color: blue;
  background-color: white;
  border-radius: 5px ;
  border: 1px blue solid ;
  padding: 5px ;
}


button:hover {
  animation: rotate 0.7s ease-in-out both;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
  25% {
    transform: rotate(3deg) translate3d(0, 0, 0);
  }
  50% {
    transform: rotate(-3deg) translate3d(0, 0, 0);
  }
  75% {
    transform: rotate(1deg) translate3d(0, 0, 0);
  }
  100% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
}
